<div class=" one-page-form">
    <h1 class="title is-4">Mon profil</h1>
    <%= link_to 'Charger les données par défaut', home_setup_data_path, :class => 'navbar-item' %>


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :dernier_numero_facture, class: "label" %>
        <div class="control">
          <%= f.text_field :dernier_numero_facture, autocomplete: "dernier_numero_facture", class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :dernier_numero_devis, class: "label" %>
        <div class="control">
          <%= f.text_field :dernier_numero_devis, autocomplete: "dernier_numero_devis", class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :email, class: "label" %>
        <div class="control">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password, class: "label" %>
        <div class="control">
          <%= f.password_field :password, autocomplete: "new-password", class: "input" %>

        </div>
        <p class="help">
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> characters minimum</em><br />
            <% end %>
            <i>(leave blank if you don't want to change it)</i>
        </p>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "label" %>
        <div class="control">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= f.label :current_password, class: "label" %>
        <div class="control">
          <%= f.password_field :current_password, autocomplete: "current-password", class: "input" %>
        </div>
        <p class="help">
          <i>(we need your current password to confirm your changes)</i>
        </p>
      </div>

      <div class="field is-grouped is-grouped-right">
        <div class="control">
          <%= f.submit "Enregistrer", class: "button is-primary" %>
        </div>
      </div>
    <% end %>


    <h2 class="title is-4">Supprimer mon compte</h2>

    <div class="field is-grouped is-grouped-right">
      <div class="control">
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button is-danger" %></p>
      </div>
    </div>
</div>
