<div class="nom"><%= @facture.client.nom %></div>
<div class="adresse"><%= @facture.client.adresse %></div>
<div class="cp_ville"><%= @facture.client.code_postal %> <%= @facture.client.ville %></div>
<div class="pays"><%= @facture.client.pays %></div>
<div class="tva_intra"><%= @facture.client.numero_tva_intracommunautaire %></div>
<div class="email"><%= @facture.client.email %></div>
<div class="telephone"><%= @facture.client.telephone %></div>
