<h1 class="designation title is-4 has-text-primary-color has-text-weight-bold"><%= @facture.designation %></h1>

<table class="table is-narrow">
  <tr>
    <td colspan="2"><div class="numero"><%= @facture.type_document %> <%= numero_pour_facture(@facture) %></div></td>
  </tr>
  <tr>
    <td><div class="date">Date d'émission : <%= @facture.date %></div></td>
    <td><div class="reglement">Règlement : <%= @facture.date_reglement %></div></td>
  </tr>
</table>
