<div class="field">
  <div class="control">
    <%= form.text_field :designation, class: "input is-medium",  placeholder: :designation %>
  </div>
</div>

<div class="field has-addons">
  <p class="control">
    <span class="select">
      <%= form.select :type_document, ["Facture", "Avoir"] %>
    </span>
  </p>
  <p class="control">
    <span class="button is-static">
      <%= numero_pour_facture(@facture) %>
    </span>
  </p>
</div>

<div class="columns">
  <div class="column">
    <div class="field has-addons">
      <p class="control">
        <span class="button is-static">
          Date d'émission :
        </span>
      </p>
      <p class="control">
        <%= form.text_field :date, type: "date", class: "input flatpickr" %>
      </p>
    </div>
  </div>

  <div class="column">
    <div class="field has-addons">
      <p class="control">
        <span class="button is-static">
          Règlement :
        </span>
      </p>
      <p class="control is-fullwidth">
        <%= form.text_field :date_reglement, class: "input" %>
      </p>
    </div>
  </div>
</div>
