<nav class="navbar is-light is-fixed-top">
  <%= back_link_to_root() %>
  <%= page_title("Mon entreprise") %>
</nav>

<div class="small-width-page">
  <div class="box">
    <table class="table has-text-left is-hoverable is-fullwidth">
      <tr>
        <th>Code NAF/APE</th>
        <td><%= @user.code_naf_ape %></td>
        <td></td>
      </tr>
      <tr>
        <th>TVA intracom.</th>
        <td><%= @user.numero_tva %></td>
        <td><%= button_to_copy(@user.numero_tva) %></td>
      </tr>
      <tr>
        <th>SIREN</th>
        <td><%= @user.numero_siren %></td>
        <td><%= button_to_copy(@user.numero_siren) %></td>
      </tr>
      <tr>
        <th>SIRET</th>
        <td><%= @user.numero_siret %></td>
        <td><%= button_to_copy(@user.numero_siret) %></td>
      </tr>
      <tr>
        <th>Prochain n° de facture</th>
        <td><%= @user.dernier_numero_facture %></td>
        <td></td>
      </tr>
      <tr>
        <th>Prochain n° de devis</th>
        <td><%= @user.dernier_numero_devis %></td>
        <td></td>
      </tr>
    </table>
    <div class="field is-grouped is-grouped-right">
        <%= link_to 'Modifier', admin_edit_path, class: "button is-primary" %>
    </div>
  </div>
</div>
