<%= form_with(model: devis_ligne) do |form| %>
  <% if devis_ligne.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(devis_ligne.errors.count, "error") %> prohibited this devis_ligne from being saved:</h2>

      <ul>
        <% devis_ligne.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :devis_id %>
    <%= form.text_field :devis_id %>
  </div>

  <div class="field">
    <%= form.label :designation %>
    <%= form.text_area :designation %>
  </div>

  <div class="field">
    <%= form.label :montant_ht %>
    <%= form.text_field :montant_ht %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
