<p id="notice"><%= notice %></p>

<h1>Devis Lignes</h1>

<table>
  <thead>
    <tr>
      <th>Devis</th>
      <th>Designation</th>
      <th>Montant ht</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devis_lignes.each do |devis_ligne| %>
      <tr>
        <td><%= devis_ligne.devis_id %></td>
        <td><%= devis_ligne.designation %></td>
        <td><%= devis_ligne.montant_ht %></td>
        <td><%= link_to 'Show', devis_ligne %></td>
        <td><%= link_to 'Edit', edit_devis_ligne_path(devis_ligne) %></td>
        <td><%= link_to 'Destroy', devis_ligne, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Devis Ligne', new_devis_ligne_path %>
