<nav class="navbar is-light is-fixed-top">
  <%= back_link_to_root() %>
  <%= page_title("Lignes de devis") %>
</nav>

<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th class="has-text-left">Facture</th>
      <th class="has-text-left">Désignation</th>
      <th class="has-text-left">Montant HT (€)</th>
    </tr>
  </thead>

  <tbody>
    <% @devis_lignes.each do |devis_ligne| %>
      <tr>
        <td><%= numero_pour_devis(devis_ligne.devis) %></td>
        <td><%= devis_ligne.designation %></td>
        <td class="has-text-right"><%= montant_humanise(devis_ligne.montant_ht) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
