<nav class="navbar is-light is-fixed-top">
  <%= back_link_to_root() %>
  <%= page_title("Lignes de facture") %>
</nav>

<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th class="has-text-left">Facture</th>
      <th class="has-text-left">Désignation</th>
      <th class="has-text-left">Montant HT (€)</th>
    </tr>
  </thead>

  <tbody>
    <% @facture_lignes.each do |facture_ligne| %>
      <tr>
        <td><%= numero_pour_facture(facture_ligne.facture) %></td>
        <td><%= facture_ligne.designation %></td>
        <td class="has-text-right"><%= montant_humanise(facture_ligne.montant_ht) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
