<%= form_with(model: document_modele) do |form| %>
  <% if document_modele.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document_modele.errors.count, "error") %> prohibited this document_modele from being saved:</h2>

      <ul>
        <% document_modele.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nom %>
    <%= form.text_field :nom %>
  </div>

  <div class="field">
    <%= form.label :coordonnees_societe %>
    <%= form.text_area :coordonnees_societe %>
  </div>

  <div class="field">
    <%= form.label :logo %>
    <%= form.text_field :logo %>
  </div>

  <div class="field">
    <%= form.label :contrast_color %>
    <%= form.text_field :contrast_color %>
  </div>

  <div class="field">
    <%= form.label :mention1_texte %>
    <%= form.text_area :mention1_texte %>
  </div>

  <div class="field">
    <%= form.label :mention2_texte %>
    <%= form.text_area :mention2_texte %>
  </div>

  <div class="field">
    <%= form.label :mention3_texte %>
    <%= form.text_area :mention3_texte %>
  </div>

  <div class="field">
    <%= form.label :mention_legale %>
    <%= form.text_field :mention_legale %>
  </div>

  <div class="field">
    <%= form.label :modele %>
    <%= form.text_field :modele %>
  </div>

  <div class="field">
    <label class="checkbox">
      <%= form.check_box :defaut, class: "checkbox" %> Par défaut
    </label>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
