<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nom, class: "label" %>
    <div class="control">
      <%= form.text_field :nom, class: "input", readonly: "readonly" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :adresse, class: "label" %>
    <div class="control">
      <%= form.text_area :adresse, class: "textarea" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :code_postal, class: "label" %>
    <div class="control">
      <%= form.text_field :code_postal, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :ville, class: "label" %>
    <div class="control">
      <%= form.text_field :ville, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :pays, class: "label" %>
    <div class="control">
      <%= form.text_field :pays, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :numero_tva_intracommunautaire, class: "label" %>
    <div class="control">
      <%= form.text_field :numero_tva_intracommunautaire, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :email, class: "label" %>
    <div class="control">
      <%= form.text_field :email, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :telephone, class: "label" %>
    <div class="control">
      <%= form.text_field :telephone, class: "input" %>
    </div>
  </div>

 <label class="label">Type de client</label>
 <div class="field is-grouped">
   
   <div class="control">
      <label class="checkbox">
        <%= form.check_box :special, class: "checkbox" %>
        Special
      </label>
   </div>
   <div class="control">
       <label class="checkbox">
         <%= form.check_box :prestation_hypnose, class: "checkbox" %>
         Hypnose
       </label>
    </div>
    <div class="control">
        <label class="checkbox">
          <%= form.check_box :prestation_boutique, class: "checkbox" %>
          Boutique
        </label>
     </div>
     <div class="control">
         <label class="checkbox">
           <%= form.check_box :prestation_ux, class: "checkbox" %>
           UX
         </label>
      </div>
 </div>

  <div class="field">
    <%= form.label :taxe_id, class: "label" %>
    <div class="select">
      <%= form.collection_select :taxe_id, current_user.taxes.order(:nom), :id, :nom%>
    </div>
  </div>

  <div class="field is-grouped is-grouped-right">
    <div class="control">
      <% if client.factures.size == 0 && client.devis.size == 0 %>
      <%= link_to 'Supprimer', client, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },class: "button is-danger" %>
      <% end %>
      <%= form.submit "Enregistrer", class: "button is-primary" %>
    </div>
  </div>
<% end %>
