<nav class="navbar is-light is-fixed-top">
  <%= back_link_to_root() %>
  <%= page_title("Clients") %>
</nav>

<div class="action-buttons">
    <div class="field is-grouped">
      <p class="control">
        <%= link_to 'Nouveau client', new_client_path, class: "button is-primary" %>
      </p>
    </div>
</div>

<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th class="has-text-left">Client</th>
      <th class="has-text-left">Ville</th>
      <th class="has-text-left">Versions</th>
      <th class="has-text-left">Factures</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr class='clickable-row is-clickable' data-href='<%= url_for edit_client_path(client)%>'>
        <td>
          <p class="tag is-large"><%= client.nom %></p>
          <p><%= client.telephone %></p>
          <p><%= client.email %></p>
        </td>
        <td><%= client.ville %></td>
        <td><%= client.versions.size %></td>
        <td>
          <% if client.factures.size == 0 && client.devis.size == 0 %>
          <span class="tag is-rounded is-danger is-medium">Aucune facture</span>
          <% else %>
          <span class="tag is-rounded is-medium"><%= client.factures.size %></span>
          <% end %>
        </td> 
      </tr>
    <% end %>
  </tbody>
</table>
