    <tr class="form">
      <td class="is-vcentered"><%= form.text_field :date, type: "date", form: "form-depense-container-01", class: "input flatpickr" %></td>
      <td class="is-vcentered"><%= form.text_field :libelle, form: "form-depense-container-01", class: "input", placeholder: :libelle %></td>
      <td class="is-vcentered has-text-right">
        <div class="price-input-wrap">
          <%= form.hidden_field :montant_ttc, form: "form-depense-container-01" %>
          <input type="text" class="input price-input has-text-right" autocomplete="off" value="<%= montant_humanise(form.object.montant_ttc) %>"></input>
        </div>
      </td>
      <td class="is-vcentered"><%= form.text_field :commentaire, form: "form-depense-container-01", class: "input", placeholder: :commentaire %></td>
      <td class="is-vcentered has-text-right">
        <div  class="file is-small has-text-right" >
            <span id="custom-file-button-01" data-input="file-input-outside" data-form="form-depense-container-01" class="file-cta">
              <span class="file-label">
                Ajouter un justificatif
              </span>
            </span>
        </div>
      </td>
      <td class="is-vcentered">
        <%= form.check_box :rembourse, form: "form-depense-container-01", class: "switch is-rounded" %>
        <label for="depense_rembourse"></label>
      </td>
      <td><%= form.submit "Ajouter", form: "form-depense-container-01", class: "button is-primary is-fullwidth" %></td>
    </tr>
