<div class="field">
  <div class="control">
    <%= form.text_field :nom, class: "input is-small", placeholder: :nom %>
  </div>
</div>

<div class="field">
  <div class="control">
    <%= form.text_area :adresse, rows: 2, class: "textarea is-small", placeholder: :adresse %>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-body">
    <div class="field code-postal">
      <div class="control">
        <%= form.text_field :code_postal, class: "input is-small", placeholder: :code_postal %>
      </div>
    </div>
    <div class="field">
      <div class="control is-expanded">
        <%= form.text_field :ville, class: "input is-small", placeholder: :ville %>
      </div>
    </div>
  </div>
</div>

<div class="field">
  <div class="control">
    <%= form.text_field :pays, class: "input is-small", placeholder: :pays %>
  </div>
</div>

<div class="field">
  <div class="control">
    <%= form.text_field :numero_tva_intracommunautaire, class: "input is-small", placeholder: :numero_tva_intracommunautaire %>
  </div>
</div>

<div class="field">
  <div class="control">
    <%= form.text_field :email, class: "input is-small", placeholder: :email %>
  </div>
</div>

<div class="field">
  <div class="control">
    <%= form.text_field :telephone, class: "input is-small", placeholder: :telephone %>
  </div>
</div>
