<tr class="nested-fields">
  <td>
    <%= f.hidden_field :_destroy %>
    <%= f.label :designation %>
    <%= f.text_area :designation %>
  </td>

  <td>
    <%= f.label :montant_ht %>
    <%= f.text_field :montant_ht %>
  </td>
  <td>
    <%= link_to "Supprimer cette ligne", '#', class: "remove_fields" %>
  </td>
</tr>
