<style type="text/css">
  .has-bg-primary-color {
    background-color: <%= @facture.contrast_color %> !important;
    color: #ffffff !important;
  }
  .has-text-primary-color {
    color: <%= @facture.contrast_color %> !important;
  }
</style>
<%= form_with(model: facture, html: {autocomplete: "off"}) do |form| %>
  <div class="panel facture-actions">
    <div class="panel-block">
        <div class="buttons">
          <% if @creating_new %>
            <%= form.button "Sauvegarder en brouillon", name: 'commit', value: "brouillon", class: "button is-secondary is-fullwidth" %>
            <%= form.button "Créer la facture", name: 'commit', value: "facture", class: "button is-primary is-fullwidth" %>
          <% elsif @facture.est_brouillon %>
            <%= form.button "Enregistrer", name: 'commit',value: "brouillon", class: "button is-secondary is-fullwidth" %>
            <%= form.button "Créer la facture", name: 'commit', value: "facture", class: "button is-primary is-fullwidth" %>
            <%= link_to 'Supprimer', facture_path(@facture), data: {:confirm => 'Are you sure?'}, :method => :delete, class: "button is-danger is-fullwidth" %>
          <% else %>
            <%= form.button "Enregistrer", name: 'commit', value: "facture", class: "button is-primary is-fullwidth" %>
            <%= link_to "Générer le PDF", facture_path(@facture, format: :pdf), class: "button is-fullwidth" %>
          <% end %>
      </div>
    </div>
  </div>

    <div class="card facture-feuille">
      <% if @creating_new %>
        <%= form.hidden_field :facture_statut_id%>
      <% else %>
        <%= statut_pour_facture(@facture) %>
      <% end %>

        <% if facture.errors.any? %>
          <div class="notification is-danger">
            <h2 class="is-size-5"><%= pluralize(facture.errors.count, "error") %> prohibited this facture from being saved:</h2>
            <div class="content">
            <ul>
              <% facture.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
            </div>
          </div>
        <% end %>

        <div class="tile is-ancestor">
          <div class="tile is-parent is-5">
            <div class="logo has-text-centered">
                <%= image_tag(@facture.logo, srcset: { "2x-#{@facture.logo}" => "2x" }) %>
                <%= form.hidden_field :logo %>
                <%= form.hidden_field :contrast_color %>
            </div>
          </div>
          <div class="tile is-parent is-2"></div>
          <div class="tile is-parent is-5"></div>
        </div>
        <div class="tile is-ancestor">
          <div class="tile is-parent is-5">
            <div class="fournisseur">
              <%= render "factures/partials/fournisseur_form", form: form %>
            </div>
          </div>
          <div class="tile is-parent is-2"></div>
          <div class="tile is-parent is-5">
            <div class="tile is-child">
              <div class="client">
                <%= form.fields_for :client do |client_form| %>
                  <%= render "factures/partials/client_form", form: client_form %>
                <% end %>
              </div>
            </div>
          </div>
        </div>


        <div class="contenu-principal">
          <%= render "factures/partials/entete_form", form: form %>

          <div class="facture-lignes">
            <table class="table is-fullwidth is-narrow" id="table_lignes_facture">
              <thead>
                <tr>
                  <th class="has-text-left has-bg-primary-color" colspan="2">Désignation</th>
                  <th class="is-narrow has-bg-primary-color">Montant HT</th>
                </tr>
              </thead>
              <tbody>
              <%= form.fields_for :facture_lignes do |facture_ligne| %>
                  <%= render "factures/partials/facture_ligne_fields_form", f: facture_ligne %>
              <% end %>
              </tbody>
              <tfoot>
                <%= render "factures/partials/pied_form", form: form %>
              </tfoot>
            </table>
          </div>

          <div class="facture-mentions">
            <%= render "factures/partials/mentions_form", form: form %>
          </div>

        </div>

  </div>
<% end %>
