<nav class="navbar is-light is-fixed-top">
  <%= back_link_to_root() %>
  <%= page_title("Factures") %>
</nav>

<div class="action-buttons">
    <div class="field is-grouped">
      <p class="control">
        <%= link_to 'Nouvelle facture', new_facture_path, class: "button is-primary" %>
      </p>
    </div>
</div>

<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th class="has-text-left">Date</th>
      <th class="has-text-left">Numéro de facture</th>
      <th class="has-text-left">État</th>
      <th class="has-text-left">Nom client</th>
      <th class="has-text-left">Désignation</th>
      <th class="has-text-left">Montant HT (€)</th>
      <th class="has-text-left">TVA (€)</th>
      <th class="has-text-left">Montant TTC (€)</th>
      <th class="has-text-left"></th>
    </tr>
  </thead>

  <tbody>
    <% @factures.each do |facture| %>
      <tr class='clickable-row is-clickable' data-href='<%= url_for edit_facture_path(facture)%>'>
        <td class="has-text-centered"><%= date_pour_facture(facture) %></td>
        <td class="is-vcentered"><%= numero_pour_facture(facture) %></td>
        <td class="is-vcentered"><%= statut_pour_facture(facture) %></td>
        <td class="is-vcentered"><%= facture.client.nom %></td>
        <td class="is-vcentered"><%= facture.designation %></td>
        <td class="is-vcentered has-text-right"><%= montant_humanise(facture.montant_ht) %></td>
        <td class="is-vcentered has-text-right"><%= montant_humanise(facture.montant_tva) %></td>
        <td class="is-vcentered has-text-right"><%= montant_humanise(facture.montant_ttc) %></td>
        <td class="is-vcentered">
          <% if !facture.est_brouillon %>
            <a href="<%= facture_path(facture, format: :pdf) %>" class="button is-small">PDF</a>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
