<h1 class="title is-4">Factures</h1>

<div class="action-buttons">
    <div class="control is-grouped">
        <%= link_to 'Nouvelle Facture', new_facture_path, class: "button is-primary" %>
    </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Numéro de facture</th>
      <th>État</th>
      <th>Nom client</th>
      <th>Désignation</th>
      <th>Montant HT (€)</th>
      <th>Montant TTC (€)</th>
      <th>PDF</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @factures.each do |facture| %>
      <tr>
        <td><%= facture.date %></td>
        <td><%= facture.numero %></td>
        <td><%= facture.facture_statut.nom %></td>
        <td><%= facture.client.nom %></td>
        <td><%= facture.designation %></td>
        <td><%= facture.pdf %></td>
        <td><%= facture.montant_ht %></td>
        <td><%= facture.montant_ttc %></td>

        <td><%= link_to 'Show', facture %></td>
        <td><%= link_to 'Edit', edit_facture_path(facture) %></td>
        <td><%= link_to 'Destroy', facture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
