<style type="text/css">
  .has-bg-primary-color {
    background-color: <%= @facture.contrast_color %> !important;
    color: #ffffff !important;
  }
  .has-text-primary-color {
    color: <%= @facture.contrast_color %> !important;
  }
</style>

<div class="content facture-feuille">
  <table class="table is-narrow">
    <tr>
      <td>
        <div class="logo has-text-centered">
            <%= image_tag wicked_pdf_asset_base64(@facture.logo) %>
        </div>
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>
        <div class="has-text-left fournisseur"><%= simple_format(@facture.coordonnees_societe) %></div>
      </td>
      <td></td>
      <td>
        <div class="client"><%= render partial: "factures/partials/client_show", formats: :html %></div>
      </td>
    </tr>
  </table>

  <div class="contenu-principal">
    <%= render partial: "factures/partials/entete_show", formats: :html %>
    <div class="facture-lignes">
      <table class="table is-fullwidth is-narrow" id="table_lignes_facture">
        <thead>
          <tr>
            <th class="has-text-left has-bg-primary-color" colspan="2">Désignation</th>
            <th class="is-narrow has-bg-primary-color">Montant HT</th>
          </tr>
        </thead>
        <tbody>
        <% @facture.facture_lignes.each do |facture_ligne| %>
            <%= render partial: "factures/partials/facture_ligne_show", formats: :html, object: facture_ligne, as: 'facture_ligne'  %>
        <% end %>
        </tbody>
        <tfoot>
          <%= render partial: "factures/partials/pied_show", formats: :html %>
        </tfoot>
      </table>
    </div>

    <div class="facture-mentions">
      <%= render partial: "factures/partials/mentions_show", formats: :html %>
    </div>

  </div>

  </div>
