<div class="nom"><%= @devi.client.nom %></div>
<div class="adresse"><%= @devi.client.adresse %></div>
<div class="cp_ville"><%= @devi.client.code_postal %> <%= @devi.client.ville %></div>
<div class="pays"><%= @devi.client.pays %></div>
<div class="tva_intra"><%= @devi.client.numero_tva_intracommunautaire %></div>
<div class="email"><%= @devi.client.email %></div>
<div class="telephone"><%= @devi.client.telephone %></div>
