<%= form_with(model: devi) do |form| %>
  <% if devi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(devi.errors.count, "error") %> prohibited this devi from being saved:</h2>

      <ul>
        <% devi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :type_document %>
    <%= form.select :type_document, ["Devis"] %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :numero %>
    <%= form.text_field :numero %>
  </div>

  <div class="field">
    <%= form.label :designation %>
    <%= form.text_field :designation %>
  </div>

  <div class="field">
    <%= form.label :montant_ht %>
    <%= form.text_field :montant_ht %>
  </div>

  <div class="field">
    <%= form.label :montant_ttc %>
    <%= form.text_field :montant_ttc %>
  </div>

  <div class="field">
    <%= form.label :document_modele_id %>
    <%= form.text_field :document_modele_id %>
  </div>

  <div class="field">
    <%= form.label :pdf %>
    <%= form.text_field :pdf %>
  </div>

  <div class="field">
    <%= form.label :taxe_id %>
    <%= form.text_field :taxe_id %>
  </div>

  <div class="field">
    <%= form.label :devis_statut_id %>
    <%= form.text_field :devis_statut_id %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.text_field :client_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
