<nav class="navbar is-light is-fixed-top">
  <%= back_link_to_root() %>
  <%= page_title("Devis") %>
</nav>

<div class="action-buttons">
    <div class="field is-grouped">
      <p class="control">
        <%= link_to 'Nouveau devis', new_devi_path, class: "button is-primary" %>
      </p>
    </div>
</div>

<table class="table is-fullwidth is-hoverable " >
  <thead>
    <tr>
      <th class="has-text-left">Date</th>
      <th class="has-text-left">Numéro de devis</th>
      <th class="has-text-left">État</th>
      <th class="has-text-left">Nom client</th>
      <th class="has-text-left">Désignation</th>
      <th class="has-text-left">Montant HT (€)</th>
      <th class="has-text-left">TVA (€)</th>
      <th class="has-text-left">Montant TTC (€)</th>
      <th class="has-text-left"></th>
    </tr>
  </thead>

  <tbody>
    <% @devis.each do |devi| %>
      <tr class='clickable-row is-clickable' data-href='<%= url_for edit_devi_path(devi)%>'>
        <td class="has-text-centered"><%= date_pour_devis(devi) %></td>
        <td class="is-vcentered"><%= numero_pour_devis(devi) %></td>
        <td class="is-vcentered"><%= statut_pour_devis(devi) %></td>
        <td class="is-vcentered"><%= devi.client.nom %></td>
        <td class="is-vcentered"><%= devi.designation %></td>
        <td class="is-vcentered has-text-right"><%= montant_humanise(devi.montant_ht) %></td>
        <td class="is-vcentered has-text-right"><%= montant_humanise(devi.montant_tva) %></td>
        <td class="is-vcentered has-text-right"><%= montant_humanise(devi.montant_ttc) %></td>
        <td class="is-vcentered">
            <a href="<%= devi_path(devi, format: :pdf) %>" class="button is-small">PDF</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
