<%= form_with(model: facture_statut) do |form| %>
  <% if facture_statut.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(facture_statut.errors.count, "error") %> prohibited this facture_statut from being saved:</h2>

      <ul>
        <% facture_statut.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nom, class: "label" %>
    <div class="control">
      <%= form.text_field :nom, class: "input" %>
    </div>
  </div>

  <div class="field">
    <label class="checkbox">
      <%= form.check_box :defaut, class: "checkbox" %> Par défaut
    </label>
  </div>

  <div class="field is-grouped is-grouped-right">
    <div class="control">
      <%= form.submit "Enregistrer", class: "button is-primary" %>
    </div>
  </div>
<% end %>
