<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @tax.nom %>
</p>

<p>
  <strong>Taux:</strong>
  <%= @tax.taux %>
</p>

<%= link_to 'Edit', edit_tax_path(@tax) %> |
<%= link_to 'Back', taxes_path %>
