
<% if user_signed_in? %>
    <div class="main">
        <a href="<%= url_for root_path %>" class="item <%= current_page_active_class?(root_path)%>"><span class="name">Accueil</span></a>
        <hr class="navbar-divider">
        <a href="<%= url_for factures_path %>" class="item <%= current_page_active_class?(factures_path)%>"><span class="name">Factures</span></a>
        <a href="<%= url_for devis_path %>" class="item <%= current_page_active_class?(devis_path)%>"><span class="name">Devis</span></a>
        <hr class="navbar-divider">
        <a href="<%= url_for taxes_path %>" class="item <%= current_page_active_class?(taxes_path)%>"><span class="name">Taxes</span></a>
        <a href="<%= url_for clients_path %>" class="item <%= current_page_active_class?(clients_path)%>"><span class="name">Clients</span></a>
        <a href="<%= url_for document_modeles_path %>" class="item <%= current_page_active_class?(document_modeles_path)%>"><span class="name">Modèles</span></a>
        <hr class="navbar-divider">
        <a href="<%= url_for admin_index_path %>" class="item <%= current_page_active_class?(admin_index_path)%>"><span class="name">Mon entreprise</span></a>
    </div>

    <div class="main low">
      <div class="dropdown is-up is-fullwidth">
        <div class="dropdown-trigger is-fullwidth">
          <button class="button is-fullwidth" aria-haspopup="true" aria-controls="dropdown-menu7">
            <span class="icon is-small"><i class="fa fa-cog"></i></span>
            <span>Paramètres</span>
            <span class="icon is-small">
              <i class="fa fa-angle-up" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu7" role="menu">
          <div class="dropdown-content">
            <%= link_to "Statuts de devis", devis_statuts_path, :class => 'dropdown-item ' + current_page_active_class?(devis_statuts_path) %>
            <%= link_to "Statuts de factures", facture_statuts_path, :class => 'dropdown-item ' + current_page_active_class?(facture_statuts_path) %>
            <hr class="dropdown-divider">
            <%= link_to "Lignes de devis", devis_lignes_path, :class => 'dropdown-item ' + current_page_active_class?(devis_lignes_path) %>
            <%= link_to "Lignes de factures", facture_lignes_path, :class => 'dropdown-item ' + current_page_active_class?(facture_lignes_path) %>
            <hr class="dropdown-divider">
            <div class="dropdown-item">
              <p>Connecté en tant que <strong><%= current_user.email %></strong>.</p>
            </div>
            <%= link_to "Mon compte", edit_user_registration_path, :class => 'dropdown-item ' + current_page_active_class?(edit_user_registration_path) %>
            <%= form_tag(destroy_user_session_path, :method => :delete) do -%>
              <button type="submit" class="dropdown-item">Déconnexion</button>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
<% end %>
