<!DOCTYPE html>
<html>
  <head>
    <title>Compta App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="columns" id="compta-app">
        <%= render "layouts/nav" %>
        <div class="column is-10 yield is-fullheight">
          <%= render "layouts/notifications" %>
          <%= yield %>
        </div>
    </div>
  </body>
</html>
